!include base.html!

<div>
    <a href="#" onclick="openTab('home'); return false;">Home</a>
    <a id="login_or_prof" href="#login" onclick="openTab('login'); return false;">Login</a>    
    <hr/>
    <div id="tabs">
        <div id="home" class="tab">
            Hello            
        </div>
        <div id="login" class="tab" style="display: none">
            <form id="login_form" onsubmit="doLogin(); return false;">                
                <a href="#login_register" onclick="showModal('registration'); return false;">Register</a><br/>
                <label for="username">Username:</label><input type="text" name="username"/><br/>
                <label for="password">Password:</label><input type="password" name="password"/><br/>
                <button type="submit">Login</button>
                
            </form>
            
        </div>
        <div id="profile" class="tab" style="display: none;">

        </div>
        <div id="logout" class="tab" style="display: none;">
        </div>
    </div>
</div>


<div id="registration" class="modal">
    <div class="modal-content">
        <form id="registration_form" onsubmit="doregistration(); return false;">            
            <label for="username">Username:</label><input type="text" name="username"/><br/>
            <label for="email">Email:</label><input type="email" name="email"/><br/>
            <label for="password1">Password:</label><input type="password" name="password1"/><br/>
            <label for="password2">Confirm:</label><input type="password" name="password2"/><br/>
            <button type="submit">Login</button>            
        </form>
    </div>
</div>



<script>
    
    function openTab(tab){
        let tabs = document.getElementsByClassName("tab");
        for(let i=0; i<tabs.length; i++){
            if( tabs[i].id===tab){
                tabs[i].style.display = 'block';
            } else {
                tabs[i].style.display = 'none';
            }            
        }
    }

    function showModal(modalId){
        let modal = document.getElementById(modalId);
        modal.style.display = "block";
        window.onclick = function(event){
            if(event.target === modal) {
                console.log("closing modal dialog");
                modal.style.display = "none";
            }
        }
    }

    function doLogin() {
        console.log("sending");
        console.log(document.forms["login_form"].username.value);
        const userInfo = document.forms["login_form"];
        var data = {
            "username": userInfo.username.value,
            "password": userInfo.password.value
        };
        ajax("POST","/login",data,function(response){
            openTab('profile');
            let link = document.getElementById("login_or_prof");
            link.innerHTML='Profile';
            link.onclick=function() { openTab('profile'); return false; };
            alert("Login Success");             
        },function(event){
            alert("Login failed");
        })
    }

    function doregistration() {
        const regInfo = document.forms["registration_form"];
        if( regInfo.password1.value !== regInfo.password2.value ){
            alert("Passwords do not match");
            return;
        }
        var data = {
            "username": regInfo.username.value,
            "email": regInfo.email.value,
            "password": regInfo.password1.value
        }
        ajax("POST","/register",data,function(response){
            openTab('profile');
            let link = document.getElementById("login_or_prof");
            link.innerHTML='Profile';
            link.onclick=function() { openTab('profile'); return false; };

        }, function(reponse){
            alert("Registration Failed");
            return;
        })
    }


    const queryString = window.location;
    console.log(queryString);

    function ajax(method, url, data, onSuccess, onError) {        
        var request = new XMLHttpRequest();
        request.open(method,url);
        request.setRequestHeader("Content-Type","application/json");        
        request.onreadystatechange = function(){
            if (this.readyState === XMLHttpRequest.DONE && this.status >= 200 && this.status < 300){
                onSuccess(this);
            } else if ( this.readyState === XMLHttpRequest.DONE ){
                onError(this);
            }
        }

        request.send(JSON.stringify(data));
    }

    

</script>
!include end.html!